html
    head
        style 
            include stylefaq.css 
        title= title
    body 
        div(class="first")
            img(src="https://a.d-cd.net/oMFYNDpZluLyRW05aVF1mnPzWGQ-960.jpg" id="avatar")
            div(class="second")
                div 
                    p="Андрей"
                    p="32 года" 
                    p="Филантроп,Плейбой,Миллиардер"
                    p="Хобби: Существовать"
                div
                    ul="Список интересов"
                        li= "Жить"
                        li= "Быть"
                        li= "Мыть"
            a(href="http://yandex.com")="Связаться со мной!" 
        
            